<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet1" trunkName="vboxnet1" trunkType="netflt" IPAddress="172.28.128.2" lowerIP="172.28.128.3" upperIP="172.28.128.254" leasesFilename="/home/kers/.config/VirtualBox/HostInterfaceNetworking-vboxnet1-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
